.sectionWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: #17171a;
  padding-top: 18px;

  .container {
    width: 1045px;

    .titleStyle {
    }
    .subTitleStyle {
      margin-left: 26px;
    }
    .headingButton {
      margin: 0 0px 0px 335px;
    }
    .headingWrapper {
      padding-top: 20px;
      padding-bottom: 16px;
    }

    .cardsWrapper {
      padding-top: 29px;
      display: grid;
      grid-template-columns: 192px 192px 192px 192px 192px;
      grid-gap: 20px;
    }
    .buttonWrapper {
      margin-top: 31px;
      margin-bottom: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      .button {
        width: 218px;
        height: 36px;
        /* padding: 7px 71px; */
        border-radius: 5px;
        border: solid 1px #0a84ff;
        background-color: transparent;
        font-family: Rubik;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.57;
        letter-spacing: -0.22px;
        text-align: center;
        color: #0a84ff;
      }
    }
  }
}
