@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik-Regular.ttf");
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Rubik, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #1d1d1f;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

li {
  display: block;
}
p {
  margin: 0;
}
